#servicePage section {
    padding: 10rem 0;
}
.comment-lists {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
    width: 70%;
    flex: 0 0 auto;
}
.comment-lists li {
    font-size: 1.8rem;
    padding-inline: 2rem;
}
.comment-lists li:not(:last-child) {
    border-right: 1px solid var(--clr-grey);
    
}
.comment-lists li .largest-number {
    font-weight: 900;
    -webkit-text-stroke-color: var(--clr-black);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;

}
.comment-desc {
    font-size: 1.8rem;
    line-height: 2;
    margin-block-start: 8rem;
    padding-inline: 4rem;
}
/* sec-service-gallery */
.sec-service-gallery {
    width: 100%;
    aspect-ratio: 3 / 1;
    padding: 0 0 !important;
}
.sec-service-gallery .swiper-slide {
    display: flex;
}
.sec-service-lists {
    counter-reset: item; /* Reset the counter for the list */
}
.service-item {
    display: block;
    padding: 4rem 0rem 4rem 30rem;
    position: relative;
    border-bottom: 1px solid var(--clr-grey);
    transition: 0.3s all ease-in-out;
}
.service-item:hover {
    background-color: var(--clr-grey);
    opacity: 1;
}
.service-item::before {
    content: "0" counter(item) ". "; /* Add numbering with a period */
    counter-increment: item; /* Increment the counter */
    position: absolute;
    left: 12rem; /* Adjust position as needed */
    font-weight: bold; /* Optional: style the number */
    font-size: 4rem;
}
.service-header {
    font-size: 4rem;
    position: relative;
}
.service-item:hover .service-body {
    padding: 2rem 0 2rem 2rem;
    height: 30rem;
    
}

.service-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    height: 0;
    overflow: hidden;
    padding: 0 0;
    transition: 0.4s height ease-in-out;
}
.service-body p {
    width: 68rem;
    font-size: 16px;
    line-height: 2;

}
.service-hover-img {
    width: 50rem;
    aspect-ratio: 16/9;
    border-radius: 2.4rem;
    flex: 0 0 auto;
    object-fit: cover;
    /* transform: translateX(100%); */
    transition: 0.8s all ease-in-out;
    
}
.service-body .btn-view-all {
    position: absolute;
    right: 22rem;
    top: 22rem;
    color: #fff;
    background-color: var(--clr-blue);
}
.service-body .btn-txt:after {
    background-color: #fff !important;
}
.service-body  .btn-view-all::before {
    background-color: #ffffff;
    z-index: -1;
}
.service-body  .btn-view-all::after {
    background-color: var(--clr-blue);
}
.service-body  .btn-view-all:hover {
    color: var(--clr-blue) !important;
}
/* .service-item:hover .service-hover-img {
    transform: translateX(0);
} */
@media screen and (max-width: 1024px) {
    .comment-wrapper {
        padding-left: 0;
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .comment-lists {
        width: 100%;
    }
    .comment-lists li {
        font-size: 1.4rem;
    }
    .service-item {
        padding: 4rem 0rem 4rem 9rem;
    }
    .service-item::before {
        left: 4rem;
        font-size: 2.6rem;
    }
    .service-header {
        font-size: 2.6rem;
    }
    .service-hover-img {
        display: none;
    }
    .service-item:hover .service-body {
        padding: 2rem 6rem 2rem 2rem;
        height: 30rem;
        flex-direction: column;
        
    }
    .service-body .btn-view-all {
        position: relative;
        right: unset;
        top: unset;
        color: #fff;
        background-color: var(--clr-blue);
        flex: 0 0 auto;
        margin: 0 0 0 auto;
    }
}
@media screen and (max-width: 426px) {
    .service-item:hover .service-body {
        padding: 2rem 6rem 2rem 2rem;
        height: 44rem;
    }
    .service-item:nth-child(1):hover .service-body {
        padding: 2rem 6rem 2rem 2rem;
        height: 34rem;
    }
    .service-item:nth-child(2):hover .service-body {
        padding: 2rem 6rem 2rem 2rem;
        height: 42rem;
    }
    .service-item:nth-child(4):hover .service-body {
        padding: 2rem 6rem 2rem 2rem;
        height: 22rem;
    }
    .service-header {
        font-size: 18px;
    }
    .service-body p {
        width: 100%;
        font-size: 16px;
        flex: 0 0 auto;
    }
    .comment-lists {
        grid-template-columns: 100%;
        width: fit-content;
        margin: 0 auto;
        row-gap: 8rem;
    }
    .comment-lists li:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid var(--clr-grey);
    }
    .comment-lists li {
        font-size: 2.2rem;
        text-align: center;
    }
    .sec-service-gallery {
        aspect-ratio: 4 / 3;
    }
    .service-item {
        padding: 4rem 0rem 4rem 4rem;
    }
    .service-item::before {
        left: 1rem;
        font-size: 2.1rem;
    }
}