.servicePageDetail-wrapper h4 {
  font-size: 3.6rem;
  width: 30%;
  min-width: max-content;
  color: var(--clr-blue);
  text-transform: uppercase;
}
.servicePageDetail-wrapper h4.odd {
  font-size: 3rem;
  width: unset !important;
  font-weight: 900;
}
.servicePageDetail-wrapper h4.odd span {
  font-size: inherit !important;
}
.servicePageDetail-wrapper h4 span.font-en {
  font-weight: 900;
  font-size: 0.8em;
  
}
.servicePageDetail-wrapper h4 span.font-ja {
  font-weight: 900;
}
.servicePageDetail-wrapper {
    padding: 10rem 0;
}
.servicePageDetail-wrapper p {
    font-size: clamp(14px,18rem,16px);
    margin-bottom: 4rem;
    line-height: 2;
  }

.section-group {
    flex: 0 0 auto;
    width: 80%;
}
  article.section-group section {
    /* height: 1000px; 
    border: 1px solid #ccc; */
    padding-block-end: 6rem;

  }
  
  .sticky-navi {
    position: sticky;
    top: 12rem;
    list-style: none;
    height: fit-content;
    width: 16%;
  }
  
  .sticky-navi li {
    cursor: pointer;
    padding: 10px;
    position: relative;
  }
  

  ul.sticky li.active::before {
    position: absolute;
    content: "";
    left: -10%;
    top: 42%;
    width: 1rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--clr-blue);
}

  [alt="service-bio-img"] {
    width: 100%;
    max-width: 600px;
    border-radius: 3.2rem;
    display: block;
    margin: 0 auto;
  }
  .sec-ec-bio {

  }
  #servicePageDetail h3 {
    font-size: 5.2rem;
  }
  #servicePageDetail h3 span.font-ja {
    font-size: 0.6em;
  }
.sec-sub-service-02 p {
    width: fit-content;
    margin: 2rem auto;
    text-indent: 0;
}
#servicePageDetail h3 .font-ja {
  font-size: 0.6em;
  
}
.sub-service-wrapper {
  display: flex;
  justify-content: space-between;
}
.sub-service-wrapper p {
  width: 60% !important;
  margin-block: 10rem;
  line-height: 2;
}
.sub-brand-img-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem; /* Optional gap between the images */
  justify-content: center;
}
.sub-brand-img-wrapper img {
  width: calc((100% - 4rem)/2);
  object-fit: none;
  aspect-ratio: 2.8;
  
}

@media screen and (max-width: 1080px) {
  .sticky-navi {
    display: none;
}
.section-group {
  width: 100%;
}
}

@media screen and (max-width: 768px) {
  .servicePageDetail-wrapper {
    padding: 0rem 0;
}
  .sub-service-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.servicePageDetail-wrapper h4 {
  font-size: 2.8rem;
  width: 100%;
}
.sub-service-wrapper p {
  width: 100% !important;
  margin-block: 0;
  margin-block-end: 4rem;
  line-height: 2;
}
    
}
@media screen and (max-width: 425px) {
  #servicePageDetail h3 {
    font-size: 4.2rem;
}
#servicePageDetail h3 span.font-ja {
  font-size: 0.6em;
}
    .servicePageDetail-wrapper {
        padding: 2rem 0;
    }
    [alt="service-bio-img"] {
        max-width: 600px;
        border-radius: 1.6rem;
    }
}