footer {
    background-color: var(--clr-black);
    padding: 20rem 20rem 6rem;
    color: #ffffff;
}
footer a {
    color: #ffffff;
}

.f-col-2 {
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: flex;
    column-gap: 6rem;
    font-size: 2rem;
    justify-content: center;
}
.f-col-2 a {
    padding: 2rem 2rem;
}
[alt="footer-logo"] {
    width: 20rem;
}
.copyright {
    padding: 6rem 0 0;
}