footer {
    background-color: var(--clr-black);
    padding: 16rem 20rem 6rem;
    color: #ffffff;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
}
footer a {
    color: #ffffff;
}

.f-col-2 {
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: flex;
    column-gap: 6rem;
    font-size: 2rem;
    justify-content: center;
}
.f-col-2 a {
    padding: 2rem 2rem;
}
[alt="footer-logo"] {
    width: 20rem;
}
.copyright {
    padding: 6rem 0 0;
}
.social-links {
    column-gap: 2rem;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3rem;
}
.social-links a {
    display: flex;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
}
.social-links a svg {
    width: 100%;
    height: 100%;
}