footer {
    background-color: var(--clr-black);
    padding: 10rem 20rem 6rem;
    color: #ffffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    z-index: 2;
}
footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: inherit;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}
footer a {
    color: #ffffff;
}
.company-map {
    
    height: fit-content;
    padding-inline: 2em;
}

.f-col-2 {
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: flex;
    column-gap: 6rem;
    font-size: 2rem;
    justify-content: flex-end;
}
.f-col-2 a {
    padding: 2rem 2rem;
    text-align: center;
}
[alt="footer-logo"] {
    width: 20rem;
}
.copyright {
    padding: 6rem 0 0;
}
.social-links {
    column-gap: 2rem;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3rem;
}
.social-links a {
    display: flex;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
}
.social-links a svg {
    width: 100%;
    height: 100%;
}
footer h6 {
    font-size: 1.6rem;
}
.href-to-map {
    display: flex;
    align-items: center;
}
[alt="jump-to-map"] {
    width: 1.4rem;
}
.to-top {
    text-transform: uppercase;
    height: max-content;
    top: 12rem;
    right: 8rem;
    font-size: 2rem;
    font-family: var(--font-en);
    writing-mode: vertical-lr;
    
}
.scroll-top-wrapper {
    width: 1px;
    height: 100px;
    background-color: #fff;
    position: relative;
    margin-right: 1rem;
}
.scroll-top-wrapper .scroll-dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1rem;
    aspect-ratio: 1/1;
    background-color: #fff;
    border-radius: 50%;
    animation-name: toTopAnimation;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.72, 0.16, 0.74, 0.55);
    animation-iteration-count: infinite;
}
@keyframes toTopAnimation {
    from {
        bottom: 0;
    }
    to {
        bottom: 100%;
    }
}
@media screen and (max-width: 1100px) {
    div:has(>.company-map) {
        flex-direction: column;
    }
    .company-map {
        
        width: fit-content;
        margin-left: 0;
        margin-right: auto;
    }
}
@media screen and (max-width: 1024px) {
    .company-map {
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 768px) {
    footer {
        background-color: var(--clr-black);
        padding: 8rem 6rem 4rem;
        color: #ffffff;
        border-top-left-radius: 5rem;
        border-top-right-radius: 5rem;
    }
    .f-col-2 {
        margin-top: 6rem;
        margin-bottom: 6rem;
        display: flex;
        column-gap: 6rem;
        font-size: 2rem;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    .f-col-2 a {
        width: 15rem;
        min-width: fit-content;
    }
    .scroll-top-wrapper .scroll-dot {
        
        
        width: 1rem;
        
    }
    
}
@media screen and (max-width: 426px) {
    footer {
        background-color: var(--clr-black);
        padding: 8rem 2rem 4rem;
        color: #ffffff;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    [alt="footer-logo"] {
        width: 12rem;
    }
    .to-top {
        top: 2rem;
        right: 2rem;
        font-size: 16px;
    }
}