header {
    padding: 20px 0;
    font-family: var(--font-en);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: top 0.3s ease;
    /* box-shadow: 0px 0px 10px var(--clr-black); */
}
main {
    margin-top: 80px; /* Space for header */
}
.h-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img[alt="site-logo"] {
    width: 140px;
}
.primary-menu {
    column-gap: 20px;
}
.primary-menu li > a {
    padding: 10px 10px;
    font-size: 2.0rem;
    display: inline-block;
}